<div class="row">
    <div class="column" >
        <filter-title class="italic-title" style="align-content:center;">
            Dwellings
            <br />
            <div class="column" style="width:100%;">
             <text>
                    <label class="container">
                        Apartment
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <label class="container">
                        Condominium
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <label class="container">
                        Detached
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>

                    <label class="container">
                        Duplex
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </text>
            </div>
        </filter-title>
    </div>
    <div class="column" >
        <filter-title class="italic-title">
            Bedrooms
            <br>
            <text>
                Min:
                <select class="filter" @bind="@SelectMinBed">

                    @foreach (var beds in NumbList)
                    {

                        <option value="@beds.Number"> @beds.Number </option>
                    }

                </select>
                @SelectMinBed
                <br>
                Max:
                <select class="filter" @bind="@SelectMaxBed">

                    @foreach (var beds in NumbList)
                    {

                        <option value="@beds.Number"> @beds.Number </option>
                    }

                </select>
                @SelectMaxBed
            </text>
        </filter-title>
    </div>
    <div class="column">
        <filter-title class="italic-title" >
            Bathrooms
            <br>
            <text>
                Min:
                <select class="filter" @bind="@SelectMinBaths">

                    @foreach (var numbs in NumbList)
                    {

                        <option value="@numbs.Number"> @numbs.Number </option>
                    }

                </select>
                @SelectMinBaths
                <br>
                Max:
                <select class="filter" @bind="@SelectMaxBaths">

                    @foreach (var beds in NumbList)
                    {

                        <option value="@beds.Number"> @beds.Number </option>
                    }

                </select>
                @SelectMaxBaths
            </text>
        </filter-title>
    </div>
    <div class="column">
        <filter-title class="italic-title">
            SquareFeet
            <br>
            <text>
                Select one:
                <select class="filter" @bind="@SelectSquareft">

                    @foreach (var numbs in SqftList)
                    {

                        <option value="@numbs.Sqfeet"> @numbs.Sqfeet </option>
                    }

                </select>
                @SelectSquareft
            </text>
        </filter-title>
    </div>
</div>

<DoubleRangeSlider />

<div class="btn-column" >
</div>
<div class="btn-column" >
    <button type="button">Map Preview</button>
</div>
<div class="btn-column" >
    <button type="button">Listing Preview</button>
</div>
<div class="btn-column" >

</div>








@code {

    string minBeds = "1";
    string maxBeds = "8";
    string minBaths = "1";
    string maxBaths = "8";
    string minPrice;
    string maxPrice;
    string squareft = "500+";

    string SelectMinBed
    {
        get => minBeds;
        set { minBeds = value; }
    }

    string SelectMaxBed
    {
        get => maxBeds;
        set { maxBeds = value; }
    }

    string SelectMinBaths
    {
        get => minBaths;
        set { minBaths = value; }
    }

    string SelectMaxBaths
    {
        get => maxBaths;
        set { maxBaths = value; }
    }

    string SelectMinPrice
    {
        get => minPrice;
        set { minPrice = value; }
    }

    string SelectMaxPrice
    {
        get => maxPrice;
        set { maxPrice = value; }
    }

    string SelectSquareft
    {
        get => squareft;
        set { squareft = value; }
    }


    List<Sqft> SqftList = new List<Sqft>() { new Sqft("500+"), new Sqft("1000+"), new Sqft("1500+"), new Sqft("2000+"), new Sqft("2500+"), new Sqft("3000+") };

    public class Sqft
    {

        public Sqft(string sqfeet)
        {
            Sqfeet = sqfeet;
        }
        public string Sqfeet { get; set; }

    }


    List<Numbs> NumbList = new List<Numbs>() { new Numbs("1"), new Numbs("2"), new Numbs("3"), new Numbs("4"), new Numbs("5"), new Numbs("6"), new Numbs("7"), new Numbs("8") };

    public class Numbs
        {

            public Numbs(string number)
            {
                Number = number;
            }
            public string Number { get; set; }

        }
    }
